* @joaquingimenez1

backend/ @joaquingimenez1 @anujakumthekar-tamu @hemanth-ks97

webapp/ @joaquingimenez1 @TaraSwor @pawan-terdal-tamu

terraform/ @joaquingimenez1 @TaraSwor @pawan-terdal-tamu

README.md @helencrawford